#bottomList {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  background-color: #f7f7f7;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-radius: 15px;
  overflow: hidden;
  /* Evita desbordamiento de contenido */
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para los ítems de la lista */
#bottomList li {
  margin: 2px 2px;
}

#bottomList ul {}

#bottomList li a {
  text-decoration: none;
  color: rgba(233, 233, 233, 0.527);
  padding: 2px;
  margin: 2px;
  margin-right: auto;
  border-radius: 15px;
}

#bottomList li a:hover {
  background-color: #30ebf8;
  width: auto;
}

.App {
  text-align: center;
  font-family: fantasy;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
